<div class="container">
  <div id="dash" class="card mt-4 mx-auto" style="width: 18rem;">
    <div class="avatar">
      <img fill="currentColor" id="avatar" src="/svg/user-astronaut-solid.svg" class="card-img-top"
        alt="User avatar astronaut">
    </div>
    <div class="card-body">
      <h5 class="card-title">Hello, {{userData.username}}</h5>
      <p class="card-text">Manage your assets and grow rich!</p>
      <div class="d-flex justify-content-evenly text-center">
        <div>
          <h5>Valuation</h5>
          <h6>$ {{userData.money}}</h6>
        </div>
        <div>
          <h5>Funds</h5>
          <h6>$ {{currentFunds}}</h6>
        </div>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Bitcoin {{userData.wallet.btc}}</li>
      <li class="list-group-item">Ethereum {{userData.wallet.eth}}</li>
      <li class="list-group-item">Doge {{userData.wallet.doge}}</li>
    </ul>
    <div class="card-body">
      <a href="/buy" class="card-link">Buy Coins</a>
      <a href="/sell" class="card-link">Sell Coins</a>
    </div>
  </div>
</div>